@import url(fonts.css);

*{
    text-decoration: none;
    padding: 0;
    margin: 0;
    list-style: none;
}

body{
    background-color: #EBEBEB;
}

.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

:root{
    --MR400--: 'Montserrat-Regular';
    --MR600--: 'Montserrat-SemiBold';
    --MB700--: 'Montserrat-Bold';
    --MB800--: 'Montserrat-ExtraBold'
}

.header{
    display: flex;
    flex-direction: column;
}

.header__nav{
    display: flex;
    justify-content: space-between;
    padding: 96px 0;
    align-items: center;
}

.header__nav ul{
    display: flex;
    gap: 30px;
    align-items: center;
}

.header__nav a{
    font-family: var(--MR400--);
    font-weight: 400;
    color: #232323;
    font-size: 24px;
}

.header__nav .btns{
    display: flex;
    gap: 5px;
}

.header__nav .btns button:first-of-type{
    border: none;
    font-family: var(--MR400--);
    font-weight: 400;
    color: #232323;
    font-size: 24px;
    background: initial;
}

.header__nav .btns button:last-of-type{
    background-color: black;
    border-radius: 10px;
    border: solid black;
    width: 45px;
    height: 45px;
}

.header__content{
    display: flex;
    flex-grow: 1;
    align-items: center;
}

.header__text{
    display: flex;
    flex-direction: column;
    gap: 185px;
}

.header__title{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.header__title{
    font-family: var(--MB700--);
    font-size: 47px;
    color: #000000;
}

.header__title span{
    padding: 8px 36px;   
    border-radius: 15px;
    border: none; 
}

.header__title span:nth-child(1){
    background: #65D0FF;
}

.header__title span:nth-child(2){
    background: #FFDE59;
}

.header__title span:nth-child(3){
    background: #BF85FF;
}

.header__images{
    display: flex;
    align-items: flex-end;
}

.header__images img{
    width: 557px;
    height: 600px;
}

.header__start{
    padding: 8px 36px;   
    border-radius: 15px;
    border: none; 
    background: #232323;
    width: 70%;
}

.header__start span{
    font-size: 48px;
    font-family: var(--MB700--);
    color: #EBEBEB;
}

.jobs__inner{
    padding: 140px 0;
}

.jobs__title:first-of-type{
    border-radius: 30px;
    border: none;
    padding: 15px 45px 15px 45px;
    background-color: #DA4959;
    margin-left: 70px;
    width: 50%;
    font-size: 29px;
    text-align: center;
    font-family: var(--MB700--);
    color: #EBEBEB;
}

.jobs__title:last-of-type{
    border-radius: 30px;
    border: none;
    padding: 15px 45px 15px 45px;
    background-color: #FFDE59;
    margin-left: 70px;
    width: 50%;
    font-size: 24px;
    text-align: center;
    font-family: var(--MB700--);
    color: #232323;
}

.jobs__blocks{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 95px 0 140px 0;
}

.jobs__block{
    padding:  47px 30px 30px 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    align-items: center;
    max-width: 220px;
    width: 100%;
    border-radius: 30px;
}

.jobs__block:first-of-type{
    background-color: #65D0FF;
    
}
.jobs__block:nth-child(2){
    background-color: #EBC429;
}
.jobs__block:nth-child(3){
    background-color: #BF85FF;
}
.jobs__block:nth-child(4){
    background-color: #22408C;
}
.jobs__block:nth-child(5){
    background-color: #232323;
}
.jobs__block:nth-child(6){
    background-color: #4AC68B;
}
.jobs__block:nth-child(7){
    background-color: #FFBD59;
}
.jobs__block:last-of-type{
    background-color: #38B6FF;
}


.jobs__img{
    display: flex;
    align-items: center;
    border-radius: 30px;
    box-shadow: 0px 4px 10px 0px #00000040;
    justify-content: center;
}

.jobs__block h2{
    color: #ffffff;
    font-family: var(--MB700--);
    font-size: 20px;
}

.students__inner{
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-bottom: 162px;
}

.students__about{
    width: 40%;
    padding-left: 50px;
}

.students__info{
    display: flex;
    flex-direction: column;
    padding: 35px 65px;
    background-color: #232323;
    border-radius: 40px;
}

.students__info button{
    color: #EBEBEB;
    background: inherit;
    border: none;
    font-family: var(--MR600--);
    font-size: 29px; 
}

.students__info p{
    font-family: var(--MR400--);
    font-weight: 400;
    font-size: 21px;
    color: #EBEBEB;
    margin: 27px 0 57px 0;
}

.students__scroll{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.students__scroll div{
    display: flex;
    align-items: center;
    gap: 10px;
}

.students__scroll span{
    padding: 8px 17px;
    border-radius: 100%;
    box-shadow: 0px 0px 5px 2px #FFFFFF4D inset;
    font-size: 30px;
    font-family: var(--MR400--);
    color: #EBEBEB  ;
}

.students__bg div:first-child{
    height: 63%;
    width: 30%;
    position: absolute;
    left: 20px;
    top: 20px;
    background-color: #FFDE59;
    z-index: -1;
    border-radius: 40px;
}

.students__bg div:last-child{
    height: 63%;
    width: 30%;
    position: absolute;
    right: 52%;
    top: 20px;
    background-color: #65D0FF;
    z-index: -1;
    border-radius: 40px;
}


.students__img{
    display: flex;
    align-items: center;
    height: 460px;
}

.students__img img{
    max-width: 580px;
    width: 100%;
}

.registration{
    background-color: #232323;
    padding: 111px 0 173px 0;
}

.registration__inner{
    display: flex;
    gap: 50px;
}

.registration__prompt{
    display: flex;
    flex-direction: column;
    gap: 18px;
    width: 44%;
}

.prompt__btn{
    background-color: #353535;
    border: none;
    border-radius: 20px;
    position: relative;
    color: #ffffff;
    font-size: 35px;
    font-family: var(--MB700--);
    padding: 20px ;
    text-align: left;
}

.prompt__btn img{
    width: 80px;
    position: absolute;
    top: 0;
    right: 0;
}

.registration__prompt form{
    display: flex;
    gap: 20px;
    flex-direction: column;
    padding: 41px 37px 45px 37px;
    background-color: #8C8C8C99;
    border-radius: 20px;
}

.registration__prompt input{
    padding: 20px;
    background-color: #D9D9D9;
    border-radius: 10px;
    border: none;
    outline: none;
}

.registration__prompt input::placeholder{
    font-size: 18px;
    font-family: var(--MR400--);
    font-weight: 300;
}

.form__btns{
    display: flex;
    gap: 7px;
}

.form__btns button{
    padding: 10px 20px;
    background-color: #232323;
    border-radius: 10px;
    border: none;
    width: 49%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--MB800--);
    font-size: 25px;
    color: #ffffff;
}

.registration__money{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 50%;
    gap: 50px;
    text-align: right;
    position: relative;
}

.registration__money button{
    background-color: #DA4959;
    border-radius: 30px;
    font-size: 70px;
    font-family: var(--MB700--);
    color: #EBEBEB;
    width: 70%;
    padding: 25px 0;
    text-align: center;
    border: none;
}

.registration__money p{
    color: #EBEBEB;
    font-size: 50px;
    font-family: var(--MR400--);
    font-weight: 200;
}

.registration__money img:first-of-type{
    transform: translate(-120px, 300px);
    width: 90%;
    position: absolute;
    bottom: 0;
    right: 10%;
}
.registration__money img:last-of-type{
    transform: translate(80px, 490px);
    width: 75%;
    position: absolute;
    bottom: 0;
    right: 0;
}